:root {
  --bg-color: #242222;
}

html::-webkit-scrollbar {
  width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #888;
}
html::-webkit-scrollbar-track {
  background-color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  /* background-color: #a5a5a5; */
  overflow-x: hidden;
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.gradient-blue-bg {
  background: rgb(6, 6, 30);
  background: linear-gradient(
    90deg,
    rgba(3, 3, 25, 0.9556197478991597) 0%,
    rgba(26, 26, 56, 0.6755077030812324) 40%,
    rgba(16, 36, 47, 1) 100%
  );
}
.gradient-blue-card {
  background: rgb(2, 2, 13);
  background: linear-gradient(
    90deg,
    rgba(2, 2, 13, 0.9556197478991597) 0%,
    rgba(11, 11, 34, 0.6755077030812324) 40%,
    rgba(2, 2, 13, 0.9556197478991597) 100%,
  );
  /* background: rgb(62, 62, 116);
  background: linear-gradient(
    90deg,
    rgba(51, 51, 92, 0.956) 0%,
    rgba(26, 26, 79, 0.6755077030812324) 40%,
    rgba(26, 26, 79, 0.6755077030812324) 80%,
    rgba(62, 62, 116, 0.9556197478991597) 100%
  ); */
}

.swapmute {
  text-align: center;
  color: #fff;
  margin-top: 70px;
}

.swapmute p {
  font-size: 35px;
  font-weight: 100;
}

.swapmute span {
  font-weight: 700;
  font-size: 38px;
}

.swapmute .tutorial {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.swapmute .tutorial p {
  padding: 20px 20px;
  font-size: 18px;
}

.swapmute .tutorial p span {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  padding: 1px 8px;
  margin: 0 10px;
}

.exchange-container {
  background-color: #000;
  max-width: 800px;
  border-radius: 25px;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  color: #fff;
}

.exchange-container .exchange-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: auto;
}

.exchange-container .exchange-box .exchange {
  width: 250px;
  margin: 20px 0;
  color: #999;
}

.exchange-container .exchange-box .exchange .selling {
  display: flex;
  justify-content: space-between;
}

.exchange-container .exchange-box .exchange .selling p {
  font-size: 13px;
}

.exchange-container .exchange-box .exchange .bitcoin {
  max-width: 250px;
  background-color: #242222;
  border-radius: 15px;
  margin: 10px 0;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.exchange-container .exchange-box .exchange .bitcoin .select {
  width: auto;
  padding: 8px;
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
  background-color: #4c4848;
  margin-right: 5px;
  outline: none;
  border: none;
}
.exchange-container .exchange-box .exchange .bitcoin .select {
  display: flex;
  column-gap: 5px;
  width: auto;
  padding: 8px;
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
  background-color: #4c4848;
  margin-right: 5px;
  border: none;
}
.exchange-container .exchange-box .exchange .bitcoin .amount {
  width: 100%;
  padding: 8px 8px 8px 16px;
  border-radius: 15px;
  outline: none;
  color: #fff;
  font-weight: 600;
  background-color: #4c4848;
  margin-right: 5px;
  border: none;
}
.exchange-container .exchange-box .exchange .value-error {
  width: auto;
  padding: 2px;
  margin: 3px auto;
  border: 2px solid none;
  border-bottom: 2px solid red;
  font-size: small;
  color: rgb(209, 100, 100);
  opacity: 0.9;
}

.accordion {
  margin: 65px auto;
  max-width: 800px;
}

.accordion .p {
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  /* color: #fff; */
}

.accordion .contentbx {
  position: relative;
  margin: 10px 20px;
}

.accordion .contentbx .label {
  position: relative;
  padding: 10px;
  background: #000;
  color: #999;
  cursor: pointer;
  border-radius: 5px;
}

.accordion .contentbx p {
  color: #000;
  font-weight: 900;
}

.accordion .contentbx .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentbx.active .label::before {
  content: "-";
}

.accordion .contentbx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion .contentbx .content::-webkit-scrollbar {
  display: none;
}

.accordion .contentbx.active .content {
  height: 150px;
  padding: 10px;
}

.input-box {
  width: 80%;
  position: relative;
  padding: 6px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
}

.input-box input {
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: #2a2828;
}

.input-box .wallet {
  display: block;
  width: 100px;
  font-size: 15px;
  color: #fff;
  background-color: #4c4848;
  border-radius: 7px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-76%);
  padding: 4px;
  font-weight: 500;
}

.input-box .wallet .fa-wallet {
  padding-right: 5px;
}

.input-box .icon {
  font-size: 20px;
  width: 30px;
  background-color: #2a2828;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-78%);
  padding: 4px;
  font-weight: 500;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 20px;
  /* margin-top: 75px; */
  color: #999;
  background-color: #000;
}

footer .copy-right {
  max-width: 392px;
  margin-right: 60px;
  margin-left: 15px;
}

footer .copy-right p span {
  font-weight: 600;
  color: #fff;
  font-size: 20px;
}

footer .copy-right h1 {
  color: #fff;
}

footer .Disclaimer {
  margin-top: 9px;
  color: #fff;
}

footer .about {
  margin: 9px 65px;
  color: #fff;
}

footer .Company {
  margin-top: 9px;
  margin-right: 40px;
  color: #fff;
}

footer .Company ul li {
  list-style: none;
}

footer .Company ul li a {
  text-decoration: none;
  color: #999;
}

footer .social-media {
  margin-top: 9px;
  max-width: 301px;
}

footer .social-media h3 {
  color: #fff;
}

footer .social-media ul {
  display: flex;
  margin-top: 15px;
}

footer .social-media ul li {
  list-style: none;
}

footer .social-media ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  font-size: 22px;
  transition: 0.4s;
}

footer .social-media ul li a .fa-brands {
  transition: 0.5s;
}

footer .social-media ul li a .fa-brands:hover {
  transform: rotate(360deg);
}

footer .social-media .a {
  text-decoration: none;
  height: 38px;
  max-width: 165px;
  color: #fff;
  background-color: #ff4b12;
  border-radius: 50px;
  text-align: center;
  display: grid;
  place-items: center;
  font-weight: 600;
  margin: 20px -10px;
}

@media (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .copy-right,
  .Disclaimer,
  .about,
  .social-media {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  footer .Company {
    margin-top: 0;
    margin-right: 0;
    padding: 20px;
    text-align: center;
  }
}

@media (max-width: 675px) {
  .swapmute .tutorial {
    flex-direction: column;
    width: auto;
    padding: 0;
  }
  .swapmute .tutorial p {
    justify-content: center;
  }
  .exchange-container {
    margin: 20px 15px;
  }

  .exchange-container .exchange-box {
    display: flex;
    flex-direction: column;
  }

  .exchange-container .exchange-box .exchange {
    width: 90%;
  }
  .exchange-container .exchange-box .exchange .bitcoin {
    min-width: 100%;
  }
  .exchange-container .exchange-box .exchange .bitcoin .select {
    width: auto;
    padding: 0;
  }
  .exchange-container .exchange-box .exchange .bitcoin .select .symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding: 0 4px;
  }
  .exchange-container .exchange-box .exchange .bitcoin .select .iconify {
    padding-right: 5px;
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .accordion .contentbx .label::before {
    right: 0;
  }

  .accordion .contentbx .label,
  .content {
    font-size: 15px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
